@model IEnumerable<FilmProjects.Models.FilmProjectJoinedModel>
@{
    ViewBag.Title = "Index";
}

    <table class="table" id="filmProjectTable" style="width:80%">
        <tr height="10">
            <th>Project ID</th>
            <th>Start Date</th>
            <th> Time to Start</th>
            <th> End Date</th>
            <th> Credits</th>
            <th> Status</th>
        </tr>
        <tr height ="50">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
